name: Publish Pub/Sub Docker Image

on:
  push:
    branches:
      - main
    paths:
      - pubsub/Dockerfile
      - .github/workflows/pubsub-docker-publish.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository_owner }}/pubsub-emulator
    outputs:
      digest: ${{ steps.build-and-push.outputs.digest }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log into Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get gcloud version
        id: gcloud-version
        run: echo "gcloud-version=$(cat pubsub/Dockerfile | head -n 1 | cut -d ':' -f 2 | cut -d '-' -f 1)" >> $GITHUB_OUTPUT
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
        with:
          images: |
            ${{ env.IMAGE_NAME }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=${{ steps.gcloud-version.outputs.gcloud-version }}
            type=sha,prefix=
          labels: |
            org.opencontainers.image.authors=${{ github.repository_owner }}
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: pubsub
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
      - name: Generate build image attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.build-and-push.outputs.digest }}

  test-published-image:
    name: Test Published Image
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - build-publish
    services:
      pubsub-emulator:
        image: ghcr.io/178inaba/pubsub-emulator@${{ needs.build-publish.outputs.digest }}
        ports:
          - 8085:8085
    env:
      PUBSUB_EMULATOR_HOST: localhost:8085
    steps:
      - name: Test
        run: curl -f localhost:8085
