name: Test

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test (${{ matrix.emulator }})
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        include:
          - emulator: firestore
            port: 8080
            docker_run_args: "-e DATABASE_MODE=datastore-mode -p 8080:8080"
          - emulator: pubsub
            port: 8085
            docker_run_args: "-p 8085:8085"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.emulator }}
          load: true
          tags: temp
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Test
        timeout-minutes: 1
        run: |
          docker run -d ${{ matrix.docker_run_args }} temp
          while [ "$(curl -s -o '/dev/null' -w '%{http_code}' 'localhost:${{ matrix.port }}')" != '200' ]; do echo 'Waiting health check...'; sleep 1; done
          echo 'Health check passed!'
